<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>com.zankasoftware.WiredServer</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/Library/Wired2.0/wired</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Wired2.0/wired</string>
		<string>-X</string>
		<string>-L</string>
		<string>/Library/Wired2.0/wired.log</string>
		<string>-i</string>
		<string>1000</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
